* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    font-size: 16px;
    line-height: calc(24 / 16);
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    /* max-width: 1440px; */
    height: 100% !important;
    width: 100%;
}
.container {
    padding: 22px 150px;
}
.wrapper {
    display: flex;
}
.form-login {
    width: calc(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-login {
    width: 80%;
    margin: 0 auto;
}
.img-login {
    width: calc(50%);
}
.title-login {
    font-size: 30px;
    margin-bottom: 22px;
}
.register-login {
    margin-top: 6px;
}
.register-here {
    color: rgba(12, 33, 193, 1);
    font-weight: 600;
}
.content-login {
    margin-bottom: 52px;
}
label {
    color: rgba(153, 153, 153, 1);
    font-size: 13px;
    line-height: calc(20 / 13);
}
.input-login {
    outline: none;
    width: 429px;
    height: 64px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    font-size: 16px;
    line-height: calc(24 / 16);
    color: rgba(0, 8, 66, 1);
}
.login-email {
    margin-bottom: 50px;
}
.login-password {
    margin-bottom: 17px;
}
.login-buttom {
    margin: 60px 0 40px 0;
    background-color: rgba(12, 33, 193, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    line-height: calc(26 / 17);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 32px;
    width: 429px;
    padding: 14px 0;
}
.webforguess {
    color: rgba(181, 181, 181, 1);
    text-align: center;
}
.img-login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-l {
    height: 710px;
}
.anounce {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #270;
    background-color: #dff2bf;
}
.anounce-error {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    color: #d8000c;
    background-color: #ffbaba;
}
